# IntelliJ IDEA files
*.iml
.idea/

# Build output or temporary directories
# Puzzle_ACT_ONE/

# Pychache
__pycache__/
*.pyc

# Ignore default puzzle files
puzzles_input.txt
serialized_puzzles.pb
solved_puzzles.txt
serialized_solutions.pb
serialized_puzzles.in.bin
serialized_solutions.out.bin